{:kotoba.app/id "cloud.itonami.isic-9101", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreief6vfcklgr3b7v47wftvzf2trc7u3rrramfwq4ru7neq66nymlwi", :kotoba.app/embed-url "ipfs://bafkreief6vfcklgr3b7v47wftvzf2trc7u3rrramfwq4ru7neq66nymlwi", :published {:archive "https://kotobase.net/ipfs/bafkreief6vfcklgr3b7v47wftvzf2trc7u3rrramfwq4ru7neq66nymlwi", :size 72469, :put-status 201, :get-status 200, :at "2026-08-15T13:46:07.440Z"}}
